.button1{
    background-color: #8d1818;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}
.button2{
    background-color: #29640a;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}
.button3{
    background-color: #16258a;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}
.button4{
    background-color: #bd600f;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}

.button5{
    background-color: #0fa3bd;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}
.button6{
    background-color: #7fc74a;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}

.button7{
    background-color: #623693;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}

.button8{
    background-color: #bd0f0f;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}

.button9{
    background-color: #e1df05;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}

.button10{
    background-color: #2db96a;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}
.button11{
    background-color: #da17d7;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}
.button12{
    background-color: #113f75;
    border: none;
    color : white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin: 4px 2px;
    border-radius:2rem;
}
